@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --light-blue: aliceblue;
  --blue: rgb(69, 179, 230);
  --brand-blue: rgb(118, 200, 238);
  --hover-blue: rgb(8, 168, 241);
  --hover-gray: rgb(199, 210, 219);
  --red: red;
  transition: background-color 500ms ease;
}

/* Темна тема */
.dark {
  --background: #444444;
  --light-blue: aliceblue;
  --blue: rgb(27, 33, 36);
  --brand-blue: rgb(19, 21, 22);
  --hover-blue: rgb(16, 17, 17);
  --hover-gray: rgb(23, 28, 32);
  --red: red;
  transition: background-color 500ms ease, color 500ms ease;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  transition: all 1s ease;
  width: 100%;
  min-height: 100vh;
}

div {
  transition: background-color 500ms ease, color 500ms ease;
}
